.addToCartScreen {
  width: 75%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f0f5f5;
  display: grid;
  z-index: 999;
  font-family: sans-serif;
  overflow: scroll;
}

.crossButton {
  cursor: pointer;
  position: absolute;
  left: 1em;
  top: 1em;
}

.addToCartScreen h2 {
  font-size: 30px;
  text-align: center;
}

.addToCartScreen li {
  text-decoration: none;
  list-style: none;
  display: flex;
}

.addToCartScreenTableHeading {
  margin-bottom: 20px;
  font-weight: 600;
}

.addToCartScreen div {
  margin: 0px 10px 10px 10px;
  font-size: 20px;
  font-family: "Baskervville", serif;
  width: 15%;
  text-align: center;
}

.itemQuantity {
  display: flex;
  justify-content: center;
}

.itemQuantity button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
}

.addToCartScreen .total {
  font-family: "Roboto Condensed", sans-serif;
}
.deleteItemButton button {
  width: 60px;
  height: 30px;
  background-color: white;
  font-size: 15px;
  text-align: center;
  color: black;
}
